{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}
<form method="POST">
<div align="center">
<h3>
    Login
</h3>
<div align="left" class="form-group col-md-8 fs-5">
    <label for="email">Email Address</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email"/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password"/>
<br/>
<div align="center"><button class="btn btn-success fw-bold fs-3" type="submit">Login</button></div>
</div>
</div>
</form>
{% endblock content %}